<header>
    <div class="page-container">
        <img class="logo-header" src="/assets/images/cpu-logo.png" alt="site-logo">
        <h1>PC Builder</h1>
    </div>
    <nav>
        <div class="page-container">
            <div class="nav-wrapper">
                <div class="primary-nav">
                    <a href="/parts-guide" class="nav-intro">
                        <span>PC Parts</span>
                        Introduction
                    </a>
                    <a href="/build-guide" class="nav-builder">
                        <span>Start the</span>
                        Build Guide
                    </a>
                    <a href="https://pcpartpicker.com/" class="nav-pcpp">
                        <span>See all</span>
                        Resources
                    </a>
                </div>
                <div class="secondary-nav">
                    <!--<div class="nav-reddit">
                        <a href="#">Check out<br>/r/BuildAPC</a>
                    </div>-->
                </div>
            </div>
        </div>
    </nav>

</header>
